{# Copyright (c) 2026 sharm294 #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

auto lo
iface lo inet loopback

auto {{ nic }}
iface {{ nic }} inet manual

auto vmbr0
iface vmbr0 inet static
    address {{ ip_addr }}/24
    gateway {{ default_gateway }}
    bridge-ports {{ nic }}
    bridge-stp off
    bridge-fd 0

source /etc/network/interfaces.d/*
